/*** ---/ CHECK COOKIES /--- ***/

#app-bar-cookie-info {
  display: none;
  padding: 5px 0;
  background-color: rgba(60, 0, 0, 1);
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:60px;
  z-index: 1001;
}

#app-bar-cookie-info div.button{
    display: inline-block;
    border: solid 1px rgba(180, 180, 180, 0.4);
    padding: 5px;
}

  
#app-bar-cookie-info .btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
  
#app-bar-cookie-info.app-visible {
  display: block;
}
