<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- Guice -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>cz.incad.Kramerius.backend.guice.GuiceConfigBean</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>GetRelsExt</servlet-name>
		<servlet-class>cz.incad.Kramerius.GetRelsExt</servlet-class>
	</servlet>
	<!-- Servlet pro gwt prohlizecku -->
	<servlet>
		<servlet-name>pageService</servlet-name>
		<servlet-class>cz.incad.kramerius.gwtviewers.server.PageServiceImpl</servlet-class>
		<init-param>
			<param-name>thumbUrl</param-name>
			<param-value>thumb</param-value>
		</init-param>
		<init-param>
			<param-name>maxWidth</param-name>
			<param-value>95</param-value>
		</init-param>
	</servlet>
	<!-- Pro snadny pristup k djvu (bez autentizace) -->
	<servlet>
		<servlet-name>djvuServlet</servlet-name>
		<servlet-class>cz.incad.Kramerius.FullImageServlet</servlet-class>
	</servlet>
	<!-- Servlet pridava konfiguraci do servlet kontextu -->
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>cz.incad.utils.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GetPageInfo</servlet-name>
		<servlet-class>cz.incad.Kramerius.GetPageInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUnitInfo</servlet-name>
		<servlet-class>cz.incad.Kramerius.GetUnitInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTotalPages</servlet-name>
		<servlet-class>cz.incad.Kramerius.GetTotalPages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexModel</servlet-name>
		<servlet-class>cz.incad.Kramerius.IndexModel</servlet-class>
	</servlet>
	<!-- Servlet pro ziskavani nahledu -->
	<servlet>
		<servlet-name>thumb</servlet-name>
		<servlet-class>cz.incad.Kramerius.ThumbnailImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pdf</servlet-name>
		<servlet-class>cz.incad.Kramerius.GeneratePDFServlet</servlet-class>
	</servlet>
	<!-- lr processes -->
	<servlet>
		<servlet-name>lr</servlet-name>
		<servlet-class>cz.incad.Kramerius.LongRunningProcessServlet</servlet-class>
	</servlet>

	<!-- mimetype servlet -->
	<servlet>
		<servlet-name>mimetype</servlet-name>
		<servlet-class>cz.incad.Kramerius.MimeTypeServlet</servlet-class>
	</servlet>

	<!-- 
		// Mapovani servletu
	 -->
	<servlet-mapping>
		<servlet-name>pageService</servlet-name>
		<url-pattern>/gwtviewers/page</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRelsExt</servlet-name>
		<url-pattern>/GetRelsExt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPageInfo</servlet-name>
		<url-pattern>/GetPageInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUnitInfo</servlet-name>
		<url-pattern>/GetUnitInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTotalPages</servlet-name>
		<url-pattern>/GetTotalPages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexModel</servlet-name>
		<url-pattern>/IndexModel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>thumb</servlet-name>
		<url-pattern>/thumb</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/InitServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>djvuServlet</servlet-name>
		<url-pattern>/djvu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pdf</servlet-name>
		<url-pattern>/pdf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>lr</servlet-name>
		<url-pattern>/lr</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mimetype</servlet-name>
		<url-pattern>/mimetype</url-pattern>
	</servlet-mapping>

    <security-role>
        <role-name>tomcat</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected area</web-resource-name>
            <description>no description</description>
            <url-pattern>/redirect.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>no description</description>
            <role-name>krameriusAdmin</role-name>
        </auth-constraint>
        <!--
        <user-data-constraint>
            <description>no description</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
        -->
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Neco</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>

	<welcome-file-list>
		<welcome-file>search.jsp</welcome-file>
	</welcome-file-list>
</web-app>
