*.log
*.class

.gwt
.settings

# build
target/
generated-src

# Eclipse
.classpath
.project
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

.DS_Store

gwt-unitCache
WEB-INF/classes
WEB-INF/deploy
war/rightseditor

.errai
.idea
#/rightseditor/war/rightseditor/
#/editor/src/main/webapp/kramerius_editor/

#gradle
*.gradle~
.gradle
build
classes
deploy
gradle/wrapper
gradlew*
