/* autocomplete */



.autocomplete_input{
    border:1px solid silver;
}


.autocomplete {
    border:1px solid silver;
    background:white;
    padding:7px;
    padding-left:1px;
    cursor:pointer;
    overflow:auto;
    height:440px;
    position:relative;
}
.autocomplete div{
    padding: 0;
    border-bottom:none;
    position:relative;
}

 div.term:hover{
    cursor:pointer;
    background: silver;
}

.letters .sel{
    background: url('../img/sel_letter.png') no-repeat;
    border-top: #e66c00 solid 1px;
    
}

.letters div{
    width:20px;
}

.letters_l div{
    /*text-align: right;*/
}

.letters_r div{
    text-align: left;
}

.letters_r .sel{
    border-left: #e66c00 solid 1px;
    
}

.letters_l .sel{
    border-right: #e66c00 solid 1px;
    
}

.letters .sel{
    background: url('../img/sel_letter.png') no-repeat;
    border-top: #e66c00 solid 1px;
    
}
.letters a{
    color:#e66c00;
    text-align: center;
}