#content-scroll {
    width: 200px;
    height: 400px;
    margin-left: 10px;
    overflow: hidden;
    border: solid 1px #dddddd;
    background: white;
}

.da_container{
    width:195px;
    padding:2px;
    margin:0px;
    float:left;
    z-index:4;
}

.da_range_container{
    position:relative;
    padding:2px;
    margin:0px;
    float:left;
    z-index:4;
}

.da_range_bar{
    background:#e66c00;
    width: 3px;
    top: 2px;
    cursor: pointer;
    overflow:hidden;
    margin:0px;
    position:absolute;
}

.da_group{
    padding:0px;
    margin:0px;
    position:relative;
    left:80px;
    border-top:solid 1px #EEEEEE;
    border-right:solid 1px #EEEEEE;
    width: 100px;
    z-index:4;
}

.da_group_title{
    vertical-align:middle;
    border-top:solid 1px #EEEEEE;
    position:absolute;
    top:1px;
    left:-70px;
    width: 70px;
}

.da_bar_container{
    
    height: 5px;
    padding:0px;
    margin:0px;
    cursor: pointer;
    overflow:hidden;
    width:100%;
}

.da_bar{
    background:#e66c00;
    height: 5px;
    padding:0px;
    margin:0px;
    cursor: pointer;
    overflow:hidden;
}


.da_space{
    overflow:hidden;
    height: 2px;
    width: 20px;
    padding:0px;
    margin:0px;
}

.da_bubble{
    position: absolute;
    background:#ef6001;
    color:white;
    border: 1px solid #333333;
    left:-100px;
    top:-10px;
    
    padding:2px;
    z-index:5;
}

#selectDiv{
    
}

#da-inputs{
  width:100%;
  text-align:left;
  padding:5px 4px;
}
#da-inputs input{
  border: 1px solid #333333;
}

.clear{
    float:none;
    clear:both;
}

/* scroll elements */
.da_select_handle{
    height:3px;
    left:0px;
    position:absolute;
    z-index:5;
    cursor:n-resize;
}

#content-slider2 {
    width: 6px;
    background: #BBBBBB;
    position: relative;
    height: 80px;
    font-size:21px;
    margin-left:4px;
}

#content-slider {
    width: 6px;
    position: relative;
    margin-left: 3px;
    background: #BBBBBB;
    height: 80px;
    font-size:21px;
}



#resizable-top, #resizable-bottom { 
    background-position: top left; 
    width: 14px; 
    height: 10px; 
    background:#cccccc;
    
    /*background:#ffffff url('../img/facet_bg.png') bottom repeat-x;*/
    filter:alpha(opacity=50);
    opacity:.50;
    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:4;
}
#resizable-top{
    border-bottom: 1px solid #004400;
}
#resizable-bottom{
    border-top: 1px solid #004400;
}
.da_resize{
    top: -20px;
    left: -20px; 
    position: absolute;
    padding:0px;
    margin:0px;
    width:10px;
}