#content-scroll {
    width: 100%;
    height: 493px;
    /*margin-left: 10px;*/
    overflow: auto;
    border: solid 1px #dddddd;
}

.da_container{
    width:100%;
    padding:0;
    margin:0px;
    float:left;
    z-index:4;
    position:relative;
}

.da_group{
    padding:0px;
    margin:0px;
    position:relative;
    left:50%;
    border-top:solid 1px #EEEEEE;
    
    width: 50%;
}

.da_group_title{
    vertical-align:middle;
    border-top:solid 1px #EEEEEE;
    position:absolute;
    top:-1px;
    left:-100%;
    width: 100%;
}

.da_bar_container{
    
    height: 5px;
    padding:0px;
    margin:0px;
    cursor: pointer;
    overflow:hidden;
    width:100%;
}

.da_bar{
    /*background:#e66c00;*/
    height: 5px;
    padding:0px;
    margin:0px;
    cursor: pointer;
    overflow:hidden;
    text-indent: -1000px;
    border:none;
}


.da_space{
    overflow:hidden;
    height: 2px;
    width: 20px;
    padding:0px;
    margin:0px;
}

.da_bubble{
    position: absolute;
    background:rgba(0, 30, 60, 0.9);
    color:white;
    border: 1px solid #333333;
    left:-100px;
    top:-10px;
    
    padding:2px;
    z-index:5;
}

#selectDiv{
    
}



.clear{
    float:none;
    clear:both;
}

/* scroll elements */
.da_select_handle{
    height:3px;
    left:0px;
    position:absolute;
    z-index:5;
    cursor:n-resize;
}
.da_constraint{
    width:100%;
    position:absolute;
    z-index:0;
    visibility:hidden;
    /*border: solid 1px green;*/
}

#content-slider2 {
    width: 6px;
    background: #BBBBBB;
    position: relative;
    height: 80px;
    font-size:21px;
    margin-left:4px;
}

#content-slider {
    width: 6px;
    position: relative;
    margin-left: 3px;
    background: #BBBBBB;
    height: 80px;
    font-size:21px;
}


#resizable-top, #resizable-bottom {
    background-position: top left;
    height: 10px; 
    background:#cccccc;
    
    /*background:#ffffff url('../img/facet_bg.png') bottom repeat-x;*/
    filter:alpha(opacity=50);
    opacity:.50;
    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:4;
}
#resizable-top{
    border-bottom: 1px solid #004400;
}
#resizable-bottom{
    border-top: 1px solid #004400;
}
.da_resize{
    top: -20px;
    left: -20px; 
    position: absolute;
    padding:0px;
    margin:0px;
    width:10px;
}

.ui-resizable-s{
    background: url("../img/resize-handle.png") no-repeat 50% 50%; 
}
