td.mainHead {
	background-color:#FFFFFF;
}

td.leftMenu {
	background-color:#E6E5DF;
}


td.mainHeadGrey {
	background-color:#C3C1B0;
}

#serviceMenu ul ul {
  position: absolute;
  display:none;
  width:100px;  
  background-color:#C3C1B0;
  top:11px;
}

li{
    padding-bottom: 10px;
}



hr.soft {
  color: #c7cfd2; 
  background-color: #c7cfd2; 
  height: 1px; 
  border-width: 0px;
}