body {
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:12px;
	color:#4B4F4A;
        background-image: url('../img/background.png');
        background-repeat:repeat-x;
}
td {
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:11px;
}
input {
	border:0px solid #A7A9A7;
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:11px;
	color:#4B4F4A;
        vertical-align:middle;
}
.advancedSearch input {
    border:1px solid silver;
}
form{
    margin:0px;
    padding:0px;
}
input.searchQuery{
    width:270px;
}

input.checkbox {
	border:0px solid #A7A9A7;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:11px;
	color:#4B4F4A;
}


input.submit {
	border:0px solid #A7A9A7;
	font-size:10px;
	color:#ffffff;
	background-image: url('../img/hledat.png');
        width:81px;
        height:27px;
}

input.disabled {
  color: #b8b8b8;
  cursor: default;
}

a:link, a:active, a:visited {
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:11px;
	color:#4B4F4A;
	text-decoration:none;
}
a:hover {
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:11px;
	color:#4B4F4A;
	text-decoration:underline;
}
a.image:link, a.image:active, a.image:visited {
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:11px;
	color:#4B4F4A;
	text-decoration:none;
}
a.image:hover {
	font-family:Verdana, Arial, Helvetica, Tahoma;
	font-size:11px;
	color:#4B4F4A;
	text-decoration:underline;
}


/* Logo */

.mainHeader{
    border:0px;
    padding:none;
    margin:none; 
    width:960px;
    height:60px;
    text-align:center;
    vertical-align:middle;
    font-size: 15px;
    background-image: url('../img/header.png');
}

.mainHeader td a{
    
    color:white;
}
/* end Logo */

/* layout */

.main{
    width:960px;
}

.leftMenu{
}
/* end layout */

/* facets */
.facet{
    padding:0px;
    background-image: url('../img/facet_bg.png');
    background-position:bottom;
    background-repeat:repeat-x;
    margin-bottom:5px;
    width:216px;
    
}

.leftMenu .facet{
    
    width:216px;
}
.facetTitle{
    background-image: url('../img/facet_title_bg.png');
    background-repeat:no-repeat;
    vertical-align:middle;
    color:white;
    margin:0px;
    height:35px;
}
.facetTitle div{
    padding-top:10px;
    padding-left:20px;
 }
.facetItem{
    padding-left:15px;
 }
    
/* end facets */

/* used filters */
.usedFilters{
    background:#8a2d28;
}
.usedFilter{
    float:left;
    padding-left:5px;
    color:white;
}
.usedFilter a{
    color:white;
}
.usedFilter a:hover{
    color:white;
}
/* end used filters */

/* results */
#results_main{
    width:100%;
    padding: 5px;
}

#result{
    width:100%;
    padding: 5px;
    border-bottom: solid 1px #0000dd;
}

.uncollapsed{
    padding-left:20px;
}
.r0{
    background: #ffffff;
}

.r1{
    background: #efefee;
}

.resultValue{
    margin-left:10px;
    font-weight:bold;
}

.resultsInTree{
    padding-left:20px;
}

.resultInTree{
    padding-left:0px;
}

.plus{
    background-image: url('../img/nolines_plus.gif');
    background-repeat: no-repeat;
    background-position:center;
    width:18px;
    height:18px;
    cursor:pointer;
}

.minus{
    background-image: url('../img/nolines_minus.gif');
    width:18px;
    height:18px;
    cursor:pointer;
}
/* end results */

/* Right menu */

td.rightMenu{
    text-align:right;
    width:240px;
    
    padding: 5px;
}
td.rightMenu .facet{
    height:450px;
    background:#eeeeee;
    width:260px;
}
.itemMenu{
    width:260px;
    background:white;
}

.relList{
    max-height: 75px;
    _height: expression(this.scrollHeight > 75? "75px" : "auto" );
    overflow:auto;
    width: 200px;
    position:absolute;
    z-index:3;
    font-size:10px;
    background:white;
    border:1px solid silver;
    margin-left:10px;
}

.relInfo{
    max-height: 75px;
    _height: expression(this.scrollHeight > 75? "75px" : "auto" );
    overflow:auto;
    width: 200px;
    position:relative;
    font-size:11px;
}

.relItem{
    position:relative;
    border-bottom:solid 1px silver;
    cursor:pointer;
    width: 100%;
}

.ui-widget-header { 
        border: 0px solid #aaaaaa/*{borderColorHeader}*/; 
        color: #222222/*{fcHeader}*/; 
        font-weight: bold; 
 }

 .op_list{
    background-image: url('../img/down.png');
    background-repeat: no-repeat;
    cursor:pointer;
    margin-top:7px;
    margin-right:1px;
}

.op_info{
    background-image: url('../img/info.png');
    width:16px;
    height:16px;
    cursor:pointer;
}
 
/* end Right menu */

 /* main content */
#mainContent{
    font-size:10px;
    /*background:white;*/
    background-image: url('../img/facet_bg.png');
    background-position:bottom;
    background-repeat:repeat-x;
}
#mainContent *{
    font-size:10px;
}
 
/* suggest */
 
 .suggest_box{
    
    height:50px;
    margin-bottom:5px;
    width:205px;
    background:white;
    background-image: url('../img/facet_bg.png');
    background-position:bottom;
    background-repeat:repeat-x;
}

.suggestTitle{
    background-image: url('../img/suggest_title_bg.png');
    background-repeat:no-repeat;
    vertical-align:middle;
    color:white;
    margin:0px;
    height:35px;
}

.suggestTitle div{
    padding-top:10px;
    padding-left:20px;
 }
 
.suggest_input{
    border:1px solid silver;
    margin-bottom:10px;
}
.autocomplete {
    border:1px solid silver;
    position:absolute;
    display: none;
    background:white;
    padding:7px;
    padding-left:1px;
}
.autocomplete div{
    padding: 0px 0px 0px 5px;
    z-index:3;
}
.selected {
    background: silver;
}
.suggest{
    cursor:pointer;
    border-bottom:solid 1px silver;
}
div.suggest:hover{
    cursor:pointer;
    background: silver;
}
/* end suggest */

/* advanced search */
.advSearch{
    display:none;
    border:solid 1px gray;
    position:absolute;
    z-index:2;
    background:white;
}
/* end advanced search */

/* gwtView */
.page_selected{
    border: 2px solid rgb(160,44,44);
}
