body {
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
    color:#0B0F0A;
    background:#F7F7F7;
    margin:0px;
}

form{
    margin:0px;
    padding:0px;
}
.border{
    border: 1px solid #e66c00;
}
#header{
    background: url("../img/header.png") no-repeat 0 0 #FFFFFF;
    border-bottom: 1px solid #e66c00;
    height:75px;
}
#main_menu{
    float:right;
    vertical-align:bottom;
    height:100%;
    /*
    padding:5px;
    position:absolute;
    */
    position:relative;
    border-left:solid 1px silver;
    top:0;
}
#main_menu_in{
    bottom:0;
    position:absolute;
    right:0;
    width:1000px;
}
#main_menu_in a{
    float:right;
}
#main{
    position:relative;
    width:1000px !important;
    margin:auto !important;
    border-left: 1px #A7A9A7 solid;
    border-right: 1px #A7A9A7 solid;
}
td {
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
}
input {
    border:1px solid #A7A9A7;
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
    color:#aaaaaa;
    vertical-align:middle;
}

input[type="checkbox"]{
    border:none;
}

input.searching{
    color:#000000;
}
table.advancedSearch{
    padding:5px;
}
#searchForm .searchQuery{
    width:270px;
    height:2.0em;
    margin:5px;
}

#searchForm span{
    /*margin:5px;
    line-height:35px;*/
}

input.checkbox {
    border:0px solid #A7A9A7;
    margin:0px;
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
    color:#4B4F4A;
}


.submit {
    color:#ffffff;
    background: url('../img/search_orange.png') no-repeat scroll 0 0 transparent;
    width:35px;
    height:36px;
    cursor:pointer;
    border:none;
}


a:link, a:active, a:visited {
    font-size:11px;
    color:black;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a.image:link, a.image:active, a.image:visited {
    text-decoration:none;
}
a.image:hover {
    text-decoration:underline;
}

.r0{
    background: white;
}
.r1{
    background: #efefef;
}

.clear{
    display:block;
    clear: both;
}

.shadow{
    -moz-box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    background: url("images/ui-bg_glass_75_ffffff_1x400.png") repeat-x scroll 0 0 #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#bbbbbb, offX=3, offY=3, positive=true);
}

.shadow-bottom{
    -moz-box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
    background: url("images/ui-bg_glass_75_ffffff_1x400.png") repeat-x scroll 0 0 #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#bbbbbb, offX=3, offY=3, positive=true);
}


/*footer*/
#footer{
    margin-top:10px;
}

/* advanced search */
#advSearch{
    display:none;
    border:solid 1px gray;
    position:absolute;
    z-index:8;
    background:white;
}
#advancedSearch td{
    color:#0B0F0A;;
}
/* end advanced search */

/* home */

#intro>div.ui-tabs-panel{
    padding: 3px;
}


#dt_home>div>span{
    display:none;
}
#dt_home{
    font-size:18px;
    margin: -25px 10px 11px 105px;
    z-index: 10;
    position:relative;
}

#dt_home a{
    font-size:16px;
    color:#e66c00;
    z-index: 10;
}

#dt_home li{
    list-style: none;
    display: inline;
}
/* end home */

/* facets */
#facets ul{
    margin: 6px 2px 10px;
    padding-left: 2px;
}
#facets li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    line-height: 16px;
}
#facets>ul>li{
    padding-left: 0;
    border-bottom: 1px solid silver;
}
#facets>ul>li>a{
    font-size: 1.1em;
    font-weight: bold;
}

#facets li span{
    width: 16px;
    height: 16px;
    overflow:hidden;
    text-indent: -99999px;
    display:block;
    float:left;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical {  }
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em; float: left;
    width: 28px;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: left;

}
.ui-tabs-vertical .ui-state-active {
    background: url("../img/scroll_handler_h.png") repeat-y scroll 50% 50% #FFFFFF;
}
    
#centralContent1 .vertical-text {
    font-size:1.2em !important;

    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    margin-left:38px;
    margin-top:30px;
    margin-bottom:-13px;
    bottom:0;
    width:15px;
    height:80px;
    padding:1px;
}

/*results*/
#filters{
    float:left;
    width:220px;
    margin-right: 3px;
}
#facets{
    padding: 3px;
}

#docs{
    float:left;
    width:760px;
}

#docs_content>div.header span{
    float:left;
    font-size: 11px;
}

#docs_content>div.header a{
    float:left;
    margin-left: 5px;
}

.resultThumb{
    float:left;
    padding-right:5px;
}
.resultText{
    /*padding:5px;*/
} 
.resultText a, .collapse_label a{
    color:#e66c00;
}
.teaser{
    color: #a2a2a2;
    font-size: 0.9em;
    margin-bottom:5px;
    margin-top:5px;
}
.teaser span{
    color:black;
    font-weight:bold;
}

div.search_result{
    border: 1px solid silver;
    float:left;
    width:355px;
    margin:2px;
    padding:5px;
    padding-bottom:8px;
    position:relative;
}

.uncollapsed{
    position:absolute;
    background:white;
    border:1px solid silver;
    border-top:none;
    /*width:370px;*/
    max-height: 300px;
    _height: expression(this.scrollHeight > 300? "300px" : "auto" );
    overflow:auto;
    z-index:100;
    width:100%;
    text-align: left;
}
.uncollapsed div{
    margin: 3px;
}

.more_docs{
    text-align:center;
    width:100%;
    clear: both;
}
#dateAxis{
    float:left;
}

#showHideDA{
    width:20px;
    float:left;
    margin:1px;
    /*position:absolute;*/
    right:0px;
    top:0px;
}

#daBox{
    width:240px;
    margin-left:22px;
}
#daBox h3{
    margin:0px;
}

#searchInside{
    /*display:none;*/
}
#bigThumbZone{
    overflow:auto;
}

#contextMenuList>li.disabled a{
    color:silver;
}

#contextMenu>div{
    border: solid 1px white;
    cursor:pointer;
}

#contextMenu>div.selected{
    border: solid 1px #e66c00;
}

.alto_selection{
    border: 1px solid #e66c00;
    padding: 0;
}

.value{
    /*font-family: Times;*/
    font-size: 1.1em;
}

.label{
    /*font-family: Times;*/
    color: #a2a2a2;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
