body {
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
    color:#0B0F0A;
    background:#F7F7F7;
    margin:0px;
}

form{
    margin:0px;
    padding:0px;
}
.border{
    border: 1px solid rgba(0, 30, 60, 0.9);
}
#header{
    border-bottom: 1px solid rgba(0, 30, 60, 0.9);
    height:45px;
    background-color:rgba(0, 30, 60, 0.9);
}


#main_menu{
    float:right;
    vertical-align:bottom;
    height:100%;
    /*
    padding:5px;
    position:absolute;
    */
    position:relative;
    border-left:solid 1px silver;
    top:0;
    z-index:100;
}
#main_menu_in{
    bottom:0;
    position:absolute;
    right:0;
    width:500px;
}
#main_menu_in a{
    float:right;
}
#main{
    position:relative;
    width:1000px !important;
    margin:auto !important;
    border-left: 1px #A7A9A7 solid;
    border-right: 1px #A7A9A7 solid;
}
td {
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
}

input {
    border:1px solid #A7A9A7;
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
    /*color:#aaaaaa;*/
    vertical-align:middle;
}

input[type="checkbox"]{
    border:none;
}

input.searching{
    color:#000000;
}
table.advancedSearch{
    padding:5px;
}
#searchForm .searchQuery{
    width:270px;
    height:2.0em;
    margin:5px;
}

#searchForm span{
    /*margin:5px;
    line-height:35px;*/
}

input.checkbox {
    border:0px solid #A7A9A7;
    margin:0px;
    font-family:Verdana, Arial, Helvetica, Tahoma;
    font-size:11px;
    color:#4B4F4A;
}


.submit {
    color:#ffffff;
    background: url('../img/search_orange.png') no-repeat scroll 0 0 transparent;
    width:35px;
    height:32px;
    cursor:pointer;
    border:none;
}


a:link, a:active, a:visited {
    font-size:11px;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a.image:link, a.image:active, a.image:visited {
    text-decoration:none;
}
a.image:hover {
    text-decoration:underline;
}


.clear{
    display:block;
    clear: both;
}

.shadow{
    -moz-box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
}

.shadow-bottom{
    -moz-box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);
}


/*footer*/
#footer{
    margin-top:10px;
}

/* advanced search */
#advSearch{
    display:none;
    border:solid 1px gray;
    position:absolute;
    z-index:8;
}
#advancedSearch td{
    color:#0B0F0A;;
}
/* end advanced search */

/* home */

#intro{
    padding: 0;
}
#intro>div.ui-tabs-panel{
    padding: 3px;
}


#dt_home>div>span{
    display:none;
}
#dt_home{
    font-size:18px;
    margin: -25px 10px 11px 105px;
    z-index: 100;
    position:absolute;
    left: 0px;
}

#dt_home a{
    font-size:16px;
    color:rgba(0, 30, 60, 0.9);
    z-index: 10;
}

#dt_home li{
    list-style: none;
    display: inline;
}
/* end home */

/* facets */
#facets ul{
    margin: 6px 2px 10px;
    padding-left: 2px;
}
#facets li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    line-height: 16px;
}
#facets>ul>li{
    padding-left: 0;
    border-bottom: 1px solid silver;
}
#facets>ul>li>a{
    font-size: 1.1em;
    font-weight: bold;
}

#facets li span{
    width: 16px;
    height: 16px;
    overflow:hidden;
    text-indent: -99999px;
    display:block;
    float:left;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical {  }
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em; float: left;
    width: 28px;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: left;

}
.ui-tabs-vertical .ui-state-active {
    background: url("../img/scroll_handler_h.png") repeat-y scroll 50% 50% #FFFFFF;
}
    
#centralContent1 .vertical-text {
    font-size:1.2em !important;

    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    margin-left:38px;
    margin-top:30px;
    margin-bottom:-13px;
    bottom:0;
    width:15px;
    height:80px;
    padding:1px;
}

/*results*/
#filters{
    /*float:left;
    width:100%;*/
    margin-right: 3px;
}
#facets{
    padding: 3px;
    overflow: auto;
}

#docs{
    /*
    float:left;
    width:760px;*/
}

#docs_content>div.header span{
    float:left;
    font-size: 11px;
}

#docs_content>div.header a{
    float:left;
    margin-left: 5px;
}

.resultThumb{
    float:left;
    padding-right:5px;
    max-width: 150px;
    overflow: hidden;
}
.resultText{
    /*padding:5px;*/
} 
.resultText a, .collapse_label a{
    border: none !important;
}
.teaser{
    color: #a2a2a2;
    font-size: 0.9em;
    margin-bottom:5px;
    margin-top:5px;
}
.teaser span{
    color:black;
    font-weight:bold;
}

div.search_result{
    border: 1px solid silver;
    float:left;
    width:355px;
    margin:2px;
    padding:5px;
    padding-bottom:8px;
    position:relative;
    word-wrap: break-word;
}

div.search_result *{
    word-wrap: break-word;
    word-break: break-all;
}



.uncollapsed{
    position:absolute;
    border:1px solid silver;
    border-top:none;
    /*width:370px;*/
    max-height: 300px;
    overflow: auto;
    z-index:100;
    width:100%;
    text-align: left;
}
.uncollapsed div{
    margin: 3px;
}

.more_docs{
    text-align:center;
    width:100%;
    clear: both;
}
#dateAxis{
    float:left;
}

#showHideDA{
    width:20px;
    float:left;
    margin:1px;
    /*position:absolute;*/
    right:0px;
    top:0px;
}

#daBox{
    width:240px;
    margin-left:22px;
}
#daBox h3{
    margin:0px;
}

#searchInside{
    /*display:none;*/
}
#bigThumbZone{
    overflow:auto;
}

#contextMenuList>li.disabled a{
    color:silver;
}

#contextMenu>div{
    cursor:pointer;
}

#contextMenu>div.selected{
    border: solid 1px rgba(0, 30, 60, 0.9);
}

.alto_selection{
    border: 1px solid rgba(0, 30, 60, 0.9);
    padding: 0;
}

.value{
    /*font-family: Times;*/
    font-size: 1.1em;
}

.label{
    /*font-family: Times;*/
    color: #a2a2a2;
}

/* fix .ui-resizable-handle z-index */
.ui-resizable-handle{
    z-index: 1;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


    .vsplitbar {
        width: 5px;
        background: silver;
    }

    .ui-layout-toggler-east-closed, .ui-layout-toggler-west-open {
        background: url("../img/toggle-lt.gif") no-repeat scroll left top transparent;
    }
    .ui-layout-toggler-west-closed, .ui-layout-toggler-east-open {
        background: url("../img/toggle-rt.gif") no-repeat scroll right top transparent;
    }
    .ui-layout-toggler-north-closed, .ui-layout-toggler-south-open {
        background: url("../img/toggle-dw.gif") no-repeat scroll center top transparent;
    }
    .ui-layout-toggler-south-closed, .ui-layout-toggler-north-open {
        background: url("../img/toggle-up.gif") no-repeat scroll center top transparent;
    }

    #current_vc{
        font-weight: bold;
        position:absolute;
        right: 10px;
        top: 0px;
    }  

    #current_vc>span{
        color: white;
        font-size: 1.5em;
    }

/* facebook and gplus buttons */
.socialbuttons {
    height:20px;
    padding-left: 10px;
}

.socialbuttons .fb {
    height:18px;
    width:90px;
}

.socialbuttons .gplus {
    padding-top: 3px;
    height: 20px;
    width: 55px;  
}
.socialbuttons .tweet {
    width: 100px;  
}
.socialbuttons .clear {
    clear: both;
    font-size: 0;    
}

.policy_icon{
    position:absolute;
    left:7px;
    top:7px;
}

/* Casova osa */

#canvasda{
    width:100%;
    height: calc(100% - 52px);
    background-color: #f3f3f3;
}
#canvasda .info{
    font: 12px Verdana;
    font-family: 'Verdana', sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: #ef6001;
}
#canvasda .yearLabel{
    font: 12px Verdana;
    font-family: 'Verdana', sans-serif;
    font-weight: 500;
    color: rgba(23,45,89,0.8);
    background-color: rgba(23,45,89,0.3);
}
#canvasda .bar{
    background-color: #cccccc;
    height: 4px;
    left:-1000px;
    position:absolute;
}
#canvasda .bar .sel{
    background-color: #234589;
}

#da-inputs{
  width:100%;
  text-align:left;
  padding:4px 0px;
  z-index:3;
  font-size: 0.9em;
  height:25px;
}
#da-inputs input{
  border: 1px solid #333333;
  z-index:23 !important;
  position:relative;
  width: 70px;
}


/** jquery radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }



