<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Use this appender to have logs go to STDOUT -->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n" />
		</layout>
	</appender>

	<!-- Use this appender to have logs go to one big log file -->
	<appender name="File" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.home}/logs/proai.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n" />
		</layout>
	</appender>

	<!-- Use this appender to have logs go to a rolling set of log files -->
	<appender name="RollingFile"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/proai.log" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n" />
		</layout>
	</appender>

	<!-- Category-specific settings -->
	<category name="fedora.test">
		<priority value="INFO" />
	</category>
	<category name="fedora.services.oaiprovider">
		<priority value="INFO" />
	</category>

	<category name="org.nsdl.mptstore">
		<priority value="WARN" />
	</category>

	<category name="org.trippi">
		<priority value="WARN" />
	</category>

	<category name="fedora.client.FedoraClient">
		<priority value="WARN" />
	</category>

	<category name="proai">
		<priority value="WARN" />
	</category>

	<!-- Note: DEBUG level for this category will log ALL SQL! -->
	<category name="proai.cache.RCDatabase">
		<priority value="WARN" />
	</category>

	<category name="org.apache.commons.httpclient.HttpMethodBase">
		<priority value="ERROR" />
	</category>


	<!-- Default level and appender if not explicitly defined -->
	<root>
		<priority value="WARN" />
		<appender-ref ref="RollingFile" />
	</root>

</log4j:configuration>
