<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2010 Jan Pokorsky

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Kramerius Editor</display-name>
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/kramerius_editor/dispatch/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>cz.incad.kramerius.editor.server.guice.EditorGuiceServletConfig</listener-class>
    </listener>
    <servlet>
        <servlet-name>EditorDispatchServlet</servlet-name>
        <servlet-class>cz.incad.kramerius.editor.server.EditorDispatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditorDispatchServlet</servlet-name>
        <url-pattern>/kramerius_editor/dispatch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>editor.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Protected Area</display-name>
        <web-resource-collection>
            <web-resource-name>Secure Editor</web-resource-name>
            <description/>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>krameriusAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Protected</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>editor owner</description>
        <role-name>krameriusAdmin</role-name>
    </security-role>
</web-app>
