<div id="facets" class="infobox">
    
#*
    <div class="icon-filter"></div>
        <div class="icon icon-pin" onclick="togglePin()"></div>
    </div>
*#
#if($search.usedFilters.entrySet().size() > 0)
    <div class="right">
        <div class="small" onclick="K5.gui.facets.removeAllFilters();" >#parse("svg/close.svg")</div>
    </div>
    <h2>#translatable("facets.used")</h2>
    
        #foreach($filter in $search.usedFilters.entrySet())   
        <div class="used" style="clear: both;" data-key="$esc.html($filter.value)" data-facet="$filter.key">
            <div style="float:left; margin-top: -5px;" class="small" >#parse("svg/x.svg")</div>
            <a href="" class="res" >
            #if($filter.key == "collection")
                #translatable("facet.$filter.key") : #transCol("$filter.value")
            #elseif($filter.key == "fedora.model")
                #translatable("facet.$filter.key") : #translatable("fedora.model.$filter.value")
            #else
                #translatable("facet.$filter.key") : $filter.value
            #end
            </a>
        </div>
        #end
#end
    <hr />
    <div class="unused"></div>
</div>

<script src="js/facets.js" type="text/javascript" ></script>
