<div id="facets" class="infobox">
    
#*
    <div class="icon-filter"></div>
        <div class="icon icon-pin" onclick="togglePin()"></div>
    </div>
*#
#if($search.usedFilters.entrySet().size() > 0)
    <div class="right">
        <div class="small" onclick="K5.gui.facets.removeAllFilters();" >#parse("svg/close.svg")</div>
    </div>
    <h2>#translatable("facets.used")</h2>
    
        #foreach($filter in $search.usedFilters.entrySet())   
        <div class="used">
            <a href="" data-key="$esc.html($filter.value)" data-facet="$filter.key" class="res" >
            #if($filter.key == "collection")
                #translatable("facet.$filter.key") : #transCol("$filter.value")
            #elseif($filter.key == "fedora.model")
                #translatable("facet.$filter.key") : #translatable("fedora.model.$filter.value")
            #else
                #translatable("facet.$filter.key") : $filter.value
            #end
            </a>
        </div>
        #end
#end
    <hr />
    <div class="unused"></div>
</div>

<div id="facets_menu" style="display:none;">
    <div class="small translate_title" data-key="buttons.showFacets" title="$i18n.buttons.showFacets" onclick="K5.gui.facets.show();" >#parse("svg/filter.svg")</div>
</div>
<script src="js/facets.js" type="text/javascript" ></script>
