<div id="footer">
    <div>
    ©2013-2014.
        Developed under GNU GPL by <a href="http://www.incad.cz/">Incad</a>, 
        <a href="http://www.nkp.cz/">NKČR</a>, 
        <a href="http://www.lib.cas.cz/">KNAV</a> and 
        <a href="http://www.mzk.cz/">MZK</a> 
    </div>
</div>
#if($conf.getString('ga.webPropertyId'))
<!-- google analytics support -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '$conf.getString('ga.webPropertyId')']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
#end
