<div id="footer">
    <div id="footer_item">
        <div style="display:inline-block;"> 
            ©2015. Developed under GNU GPL by <a href="http://www.incad.cz/">Incad</a>, 
            <a href="http://www.nkp.cz/">NKČR</a>, 
            <a href="http://www.lib.cas.cz/">KNAV</a> and 
            <a href="http://www.mzk.cz/">MZK</a> 
        </div>
        <div style="display:inline-block;">
                <a href="javascript:K5.gui.footer.feedbackDialog();">&nbsp; #translatable("feedback.footer.title")</a>
        </div>
    </div>

    <div id="footer_noitem" style="display:none">
            ©2015. Developed under GNU GPL by <a href="http://www.incad.cz/">Incad</a>, 
            <a href="http://www.nkp.cz/">NKČR</a>, 
            <a href="http://www.lib.cas.cz/">KNAV</a> and 
            <a href="http://www.mzk.cz/">MZK</a> 
    </div>
    

</div>
#if($conf.getString('ga.webPropertyId'))
<!-- google analytics support -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '$conf.getString('ga.webPropertyId')']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
#end
