<div id="header">

    <div class="logo" href="index.vm" title="home">
        <a href="?page=home"><img style="border:0;" src="$conf.getString('k5.logo')" /></a>
    </div>

    <div class="buttons">
#if($conf.getBoolean('k5client.showbrowse'))
        <div class="button #if($params.page == 'browse')sel#end" onclick="link('?page=browse')">#translatable('common.browse')</div>
#end
#if($conf.getBoolean('k5client.showtimeline'))
        <div class="button #if($params.page == 'da')sel#end" onclick="link('?page=da')">#translatable('common.timeline')</div>
#end
#if($conf.getBoolean('k5client.showcollections'))
        <div class="button #if($params.page == 'collections')sel#end" onclick="link('?page=collections')">#translatable('common.collections')</div>
#end
    </div>
    <div id="contextbuttons" class="contextbuttons">
    </div>
#if($params.page && $params.page != 'home')
    <div class="form" style="display: inline-block;
        position: relative; width:350px;
        top: -8;
        left: 80px;">
    #parse("search_form.vm")
    </div>

    <div style="position: relative;
        left: 65px;
        display: inline-block;
        margin-top: 0px;
        cursor: pointer;">
        <div class="small" style="display: inline-block;" onclick="$('#search_form').submit();">#parse("svg/lupa_simple.svg")</div>
    </div>
#end
    <div class="right" id="largedisplay">
        #if(!$logControl.logged)
            <div class="button" onclick="K5.authentication.options()">#translatable('application.login')</div>
        #end

        <div class="button" onclick="link('$conf.getString('k5client.help')', 'help')" >#translatable('application.help')</div>

        #if($logControl.logged)
            <div class="button" onclick="K5.authentication.profileDisplay.toggle()"><span>$logControl.loggedName</span></div>
        #end
    
        <div class="button select">
            <select id="langSelector" onchange="K5.i18n.askForDictionary( $('#langSelector option:selected').data('lang'), $('#langSelector option:selected').data('country') )">
                <option #if($i18n.language == 'cs')selected="selected" #end  data-lang="cs" data-country="CZ">cs</option>
                <option #if($i18n.language == 'en')selected="selected" #end data-lang="en" data-country="EN">en</option>
            </select>
        </div>



    </div>
    
    <div class="right" id="smalldisplay">

        #if($logControl.logged)
            <div class="button" onclick="K5.authentication.profileDisplay.toggle()"><span>$logControl.loggedName</span></div>
        #end

        #if(!$logControl.logged)
            <div class="showmore button" onclick="(function() {cleanWindow(); divopen('#tbl_menus');})();">
                #translatable('application.more')
            </div>
        #end


        <div class="button select">
            <select id="smallLangSelector" onchange="K5.i18n.askForDictionary( $('#smallLangSelector').val() )">
                <option #if($i18n.language == 'cs')selected="selected" #end>cs</option>
                <option #if($i18n.language == 'en')selected="selected" #end>en</option>
            </select>
        </div>

    </div>

</div>