
<script src="resources/js/carousel.js" type="text/javascript" ></script>
<script src="resources/js/home.js" type="text/javascript" ></script>

<div id="home">
    <div class="infobox showing">
        #parse("search_form.vm")
        <div class="home_text">
        $texts.default_intro
        </div>
    </div>
    <div id="pidinfo"></div>
        
    <div id="band">
        <div id="yearRows">
            <div class="row cool">
            </div>
            <div class="row latest" style="display:none;">
            </div>
            <div class="row popular" style="display:none;">
            </div>

            <div class="row profilefavorites" style="display:none;">
            </div>
        </div>
    </div>

    <div id="buttons">
        <div class="button sel" data-row="cool">#translatable('common.cool')</div>
        <div class="button" data-row="latest">#translatable('common.latest')</div>
        <div class="button" data-row="popular">#translatable('common.popular')</div>
        <div class="button" data-row="profilefavorites">#translatable('common.favorites')</div>
    </div>
</div>

<div id="item_menu" style="display:none;">
</div>
