<head>
#set($reseted = $conf.resetIndexConfig())
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="description" content="Digitized documents access aplication." />
    <meta name="keywords" content="periodical, monograph, library,  book, publication, kramerius, fedora" />
    <meta name="author" content="INCAD, www.incad.cz" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"  />

    <meta name="fragment" content="!" />
    
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon"
      href="images/favicon.ico" />


    #* stylesheets maps *# 
    #foreach($f in $fmap.stylesheets)
    <link type="text/css" href="$f" rel="stylesheet" />
    #end


    #* javascript maps *# 
    #foreach($f in $fmap.javascripts)
    <script src="$f" type="text/javascript" ></script>
    #end

    <title>$i18n.application.title</title>
    <script language="JavaScript" type="text/javascript">
        
        $(document).ready(function() {
	    // Initializing application	
	    K5.init({
                // selected language
                "language":'$i18n.language', 
                "country":'$i18n.country',
                
                
                // home page check
                #if(!$params.page) "page":'home',
                #else "page":'$params.page',  #end
               
                //user and profile
                #if($logControl.logged)"user": $logControl.userJSONRepresentation, #end
                #if($logControl.profileRetrieved)"profile": $logControl.profileJSONRepresentation, #end

                // session controls
                "session":$sessionControl.sessionFieldsJSONRepresentation,  
                
                //selected configurations 
                "conf": {
                    "i18n" :{
                        "cdkSources":$conf.getString('cdkSources')
                    },
                    "pdf":{
                        #if(!$conf.getBoolean('turnOffPdfCheck'))
                            "limit":$conf.getString('generatePdfMaxRange')
                         #end

                     },
                     "collections":{


						#if($conf.getString('k5client.collection.sort'))
                            "sort":"$conf.getString('k5client.collection.sort')"
						#end
						
						#if($conf.getString('k5client.collection.sort') && $conf.getString('k5client.collection.sortType'))
						,
						#end
						 
						
						#if($conf.getString('k5client.collection.sortType'))
                            "sortType":"$conf.getString('k5client.collection.sortType')"
						#end
                     	
                     },
                    "authentication":{
                        "k5":true, #if($conf.getString('oauth.googleapis.com.consumer_key')) "gplus":true, #else "gplus":false, #end #if($conf.getString('oauth.graph.facebook.com.consumer_key')) "fb":true #else "fb":false #end

                    },
                    "index": $conf.indexConfig
                },
                
                // definitions
                "defs": {
                    "downloadoptions":$fmap.downloadsDefinitions,
                    "shareoptions":$fmap.shareDefinitions,
                    "viewers": $fmap.viewersDefinitions
                }
            });
        });

        $(window).resize(function() {
            $(".resizable").trigger("wresize");
        });
        
    </script>
</head>
