<!-- logging window  -->
<div class="logoptions" style="position:absolute;display:none;">

    <div id="logoptions_container" class="dialogs_content">  
        <div>
            <label data-key="application.url">#translatable('login.options')</label> 
        </div> 
<style>

    .facebook > div.medium {
        cursor: pointer;
    }
    .facebook >  div.medium >  svg > path {
        fill:white;
    }
    .gplus >  div.medium  {
        cursor: pointer;
    }
    .gplus >  div.medium >  svg > g * {
        fill:white;
    }
    
    .shibb > div.medium > svg > path {
        fill:white;
        stroke:white;
    }
    
    .shibb > div.medium {
        cursor: pointer;
    }
    
    .k5 >  div.medium  {
        cursor: pointer;
    }
    .k5 >  div.medium >  svg > text {
        fill:white;
    }

</style>

<script type="text/javascript">

        function __gplus() {
            window.location.assign('authentication?action=socialLogin&provider=googleplus');
        }

        function __fb() {
            window.location.assign('authentication?action=socialLogin&provider=facebook');
        }

        function __shibb() {
            window.location.assign('authentication?action=shibbLogin');
        }

</script>

        <div>

            <ul>
#if($conf.getString('oauth.graph.facebook.com.consumer_key'))
                <li class="facebook"> <div title="#i18nval('login.option.facebook')" class="medium" onclick="__fb()">#parse("svg/fb.svg")</div> </li>
#end
     
#if($conf.getString('oauth.googleapis.com.consumer_key'))
                <li class="gplus"> <div title="#i18nval('login.option.gplus')" class="medium" onclick="__gplus()">#parse("svg/gplus.svg")</div> </li>
#end

#if($conf.getString('shibboleth.loginpage'))
                <li class="shibb"> <div title="#i18nval('login.option.shibboleth')" class="medium" onclick="__shibb()">#parse("svg/shibb.svg")</div> </li>
#end
                <li class="k5"> <div title="#i18nval('login.option.k5')" class="medium" onclick="linkWithReturn('?page=login')"> #parse("svg/k5.svg") </div> </li>
            </ul>
        </div>
    </div>

    <div class="logoptions_footer dialogs_footer">
        <div class="right">
            <div class="buttons">
                <div class="button" onclick="cleanWindow();">#translatable('common.close')</div>
            </div>
        </div>
    </div>
</div>
