<div class="actions" id="prfl_dialog" style="display:none;">

        <div class="triangle"></div>

        <div class="prfl_header"> 
            <div id="prfl_text"> </div>
         </div>

        <div id="prfl_content" style="">
            <div>
                <h3>#translatable('common.favorites')</h3>
            </div>

            <div id="prfl_content_favorites">
            </div>

        </div>

        <div class="prfl_footer">
            <div class="right">
                <div class="buttons">
                    <div class="button" data-ctx="item" style="display:none"><a href="javascript:javascript:K5.authentication.profileDisplay.appendCurrentToFavorites(true);" >Pridat k oblibenym</a></div> 
                    <div class="button" data-ctx="dirty"><a href="javascript:javascript:K5.authentication.profileDisplay.store();" >#translatable('common.saveandclose')</a></div>
                    <div class="button"><a href="javascript:javascript:K5.authentication.profileDisplay.close();" >#translatable('common.close')</a></div>
                </div>
            </div>

            <div class="left">
                <div class="buttons">
                    <div class="button"><a href="javascript:K5.authentication.logoutAndRedirect('index.vm');" >#translatable('application.logout')</a></div>
                </div>
            </div>
        </div>
</div>