#if(!$params.page || $params.page == 'home')
<div class="right small" title="$i18n.buttons.search" onclick="$('#search_form').submit();" >#parse("svg/lupa.svg")</div>
#end
<div id="search_box">
    <input type="hidden" name="start" id="start" value="$!{params.start}" />
<form id="search_form" name="search_form" action="?page=search" method="get">
    <input id="q" name="q" class="translate_placeholder"
        data-key="query.placeholder" placeholder="$i18n.query.placeholder" 
        value="$!esc.html(${params.q})" />
    <input type="hidden" name="page" value="search" />
    <input type="hidden" name="rows" id="rows" value="$!{params.rows}" />
    #foreach($filters in $search.usedFilters.entrySet())
        #foreach($filter in $filters.value)   
            #set($fq = $search.getAdvFilter($filters.key))
            <input class="facet" type="hidden" name="$filters.key" value="$esc.html($filter)" 
                    data-fq="$esc.html($fq)" />
        #end
    #end
    #if(!$params.page || $params.page == 'home')
        <div style="margin-top: 5px;">
        <label for="dostupnost">#translatable("only.public")</label>
        <input style="width: 20px;" class="facet" type="checkbox" id="dostupnost" name="dostupnost" value="public">
        </div>
    #end

</form>
</div>