<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
#parse("html_header.vm")
<body>
<div class="small">
#parse("svg/docout.svg")
#parse("svg/parent.svg")

#parse("svg/arrowleft.svg")
#parse("svg/arrowright.svg")
#parse("svg/arrowtop.svg")
#parse("svg/arrowbottom.svg")
#parse("svg/pin.svg")
#parse("svg/filter.svg")
#parse("svg/rows.svg")
#parse("svg/thumbs.svg")
#parse("svg/pages.svg")
#parse("svg/close.svg")
#parse("svg/info.svg")
#parse("svg/actions.svg")
#parse("svg/gear.svg")
#parse("svg/markline-left.svg")
#parse("svg/markline-right.svg")
#parse("svg/arrow2d.svg")
#parse("svg/maximize.svg")
#parse("svg/minimize.svg")
#parse("svg/fit.svg")
#parse("svg/lupa.svg")
#parse("svg/hit.svg")

#parse("svg/plusclipboard.svg")
#parse("svg/minusclipboard.svg")
#parse("svg/fb.svg")
#parse("svg/gplus.svg")

#parse("svg/rotateleft.svg")
#parse("svg/link.svg")

</div>
<div class="big" >
#parse("svg/docout.svg")
#parse("svg/parent.svg")
#parse("svg/arrowleft.svg")
#parse("svg/arrowright.svg")
#parse("svg/arrowtop.svg")
#parse("svg/arrowbottom.svg")
#parse("svg/pin.svg")
#parse("svg/filter.svg")
#parse("svg/rows.svg")
#parse("svg/thumbs.svg")
#parse("svg/info.svg")
#parse("svg/ok.svg")
#parse("svg/lupa.svg")
#parse("svg/gear.svg")

#parse("svg/plusclipboard.svg")
#parse("svg/minusclipboard.svg")

#parse("svg/share.svg")

#parse("svg/rotateleft.svg")
#parse("svg/rotateright.svg")

#parse("svg/lock.svg")
#parse("svg/unlock.svg")
#parse("svg/addfavorite.svg")
#parse("svg/removefavorite.svg")

#parse("svg/warning.svg")

#parse("svg/link.svg")

#parse("svg/shibb.svg")

</div>
<div>
#parse("svg/maximize.svg")
#parse("svg/docout.svg")
#parse("svg/parent.svg")
#parse("svg/arrowleft.svg")
#parse("svg/arrowright.svg")
#parse("svg/arrowtop.svg")
#parse("svg/arrowbottom.svg")
#parse("svg/pin.svg")
#parse("svg/filter.svg")
#parse("svg/rows.svg")
#parse("svg/thumbs.svg")
#parse("svg/ok.svg")

#parse("svg/gear.svg")

#parse("svg/blank-page.svg")

#parse("svg/lupa.svg")

#parse("svg/plusclipboard.svg")
#parse("svg/minusclipboard.svg")

#parse("svg/fb.svg")
#parse("svg/gplus.svg")

#parse("svg/k5.svg")
#parse("svg/rotateleft.svg")

</div>



</body>
</html>
