    


<div id="viewer" class="">
<input id="q" name="q" type="hidden" value="$!{params.q}" />

    <div class="breadcrumbs"></div>

    <div class="container">
        <!-- waiting div -->
        #parse("waiting.vm")
        <div class="error">Error</div>
        <div class="thumbs" style="float:left;"></div>
        <div class="ol" style="width: calc(100% - 350px); float:right;position:relative;height:100%;"></div>
    </div> 
    
    <!-- metadata panel -->
    <div id="metadata" class="info infobox dialogs" >
        <div class="full"></div>
        <div class="mtd_footer dialogs_footer">
            <div class="right">
                <div class="buttons">
                    <div class="small back translate_title" data-ctx="all" data-key="buttons.outofdocument" title="$i18n.buttons.outofdocument" onclick="backToResults();" >#parse("svg/docout.svg")</div>
                    <div class="small prev translate_title" data-ctx="prevpage" data-key="buttons.prev" title="$i18n.buttons.prev" onclick="K5.gui.selected.prev();" >#parse("svg/arrowleft.svg")</div>
                    <div class="small next translate_title" data-ctx="nextpage" data-key="buttons.next" title="$i18n.buttons.next" onclick="K5.gui.selected.next();" >#parse("svg/arrowright.svg")</div>
                    <div class="small view translate_title" data-ctx="structurebuttons" data-key="buttons.toggleview" title="$i18n.buttons.toggleview" onclick="K5.gui.selected.toggleView();" >#parse("svg/toggleview.svg")</div>
                    <div class="small search translate_title" data-ctx="all" id="vwr_ctx_searchinside" data-key="searchinside.dialog" title="$i18n.searchinside.dialog" onclick="K5.gui.selected.searchInside();" >#parse("svg/lupa.svg")</div>
                    <div class="small info translate_title" data-ctx="all" id="vwr_ctx_metadata" data-key="buttons.showinfo" title="$i18n.buttons.showinfo" onclick="K5.gui.selected.toogleModsView();" >#parse("svg/info.svg")</div>

                    <div class="small translate_title" data-ctx="share" id="vwr_ctx_share" data-key="buttons.share" title="$i18n.buttons.share" onclick="K5.gui.selected.shares.open();" >#parse("svg/share.svg")</div>
                    <div class="small translate_title" data-ctx="download" id="vwr_ctx_download" data-key="buttons.download" title="$i18n.buttons.download" onclick="K5.gui.selected.download.open();" >#parse("svg/download.svg")</div>

                    <div class="small translate_title" data-ctx="favorite" data-key="buttons.addtofavorite"  title="$i18n.buttons.addtofavorite" onclick="K5.authentication.askForAppendToProfile();" >#parse("svg/addfavorite.svg")</div>
                    <div class="small translate_title" data-ctx="notfavorite" data-key="buttons.removefromfavorite"  title="$i18n.buttons.removefromfavorite" onclick="K5.authentication.askForRemoveFromProfile();" >#parse("svg/removefavorite.svg")</div>

<!--
                    <div class="button" onclick="cleanWindow();">#translatable('common.close')</div>
-->
                </div>
            </div>
        </div>
    </div>
    
    <!-- akce -->
    <div class="actions dialogs" style="position:absolute;display:none;">
        <div class="triangle" id="acts_footer_triangle"></div>
        <div id="acts_container" class="dialogs_content">  </div>
        <div class="acts_footer dialogs_footer">
            <div class="right">
                <div class="buttons">
                    <div class="button" onclick="cleanWindow();">#translatable('common.close')</div>
                </div>
            </div>
        </div>
    </div>

    <div class="hits infobox" style="position:absolute;display:none;">
        <div class="right">
            <div class="small" title="$i18n.buttons.hide" onclick="K5.gui.selected.hidePanels();" >#parse("svg/close.svg")</div>
        </div>
    </div>


    <div class="searchinside dialogs" style="position:absolute;display:none;">
        <div id="searchinside_container" class="dialogs_content">  
            <input type="text" id="searchinside_q" style="float:left;width: 90%;" />

            <div class="small" title="$i18n.buttons.search" onclick="K5.gui.selected.dosearch();" >#parse("svg/lupa.svg")</div>
        </div>

        <div class="searchinside_footer dialogs_footer">
            <div class="right">
                <div class="buttons" onclick="cleanWindow();">
                    <div class="button">#translatable('common.close')</div>
                </div>
            </div>
        </div>
    </div>


    <!-- persistent url -->
    #parse("actions/persistent.vm")

    <!-- selections url -->
    #parse("actions/selects.vm")

    <!-- ocr url -->
    #parse("actions/ocr.vm")

</div>
    
<div id="item_menu" style="display:none;">



    <div class="small pin translate_title" data-ctx="all" id="vwr_ctx_actions" data-key="buttons.actions" title="$i18n.buttons.actions" onclick="K5.gui.selected.toggleActions();" style="display:none">#parse("svg/actions.svg")</div>

    <div class="small pin translate_title" data-ctx="all"  id="vwr_ctx_pin" style="display:none" data-key="buttons.pin" title="$i18n.buttons.pin" onclick="K5.gui.selected.togglePin();" >#parse("svg/pin.svg")</div>
    
</div>

<div id="item_menu_thumbs" style="display:none;">
    <div class="small search translate_title" data-key="searchinside.dialog" title="$i18n.searchinside.dialog" onclick="K5.gui.selected.search();" >#parse("svg/lupa.svg")</div>
</div>


