#macro( isOdd $number $oddText $evenText )#if( 0 == $number%2
)$evenText#else$oddText#end#end

#macro( substringBefore $s $s2)#if(
$s.indexOf($s2)>0)$s.substring(0, $s.indexOf($s2))#else$s#end#end


#macro( substringAfter $s $s2)#set( $pos = $s.indexOf($s2) )#if(
$pos>0)#set($pos = $pos +1)$s.substring($pos)#else$s#end
#end

#macro( translatable $key)
<span class="translate" data-key="$key">$i18n.get($key)</span>
#end

#macro(hoversvg $path)
#parse($path)
#end


#macro( i18nval $key)
$i18n.get($key)
#end


#macro( transCol $key)
<span class="translate vc" data-key="$key">$key</span>
#end