<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <filter>
        <filter-name>clawr</filter-name>
        <filter-class>cz.incad.kramerius.client.CrawlHTTPFilter</filter-class>
    </filter>

    <filter>
        <filter-name>javascripts</filter-name>
        <filter-class>cz.incad.kramerius.client.resources.ResourcesLoaderFilter</filter-class>

        <init-param>
            <param-name>prefix</param-name>
            <param-value>/client/resources/js</param-value>
        </init-param>

        <init-param>
            <param-name>merge</param-name>
            <param-value>cz.incad.kramerius.client.resources.merge.StringMerge</param-value>
        </init-param>

        <init-param>
            <param-name>mimetype</param-name>
            <param-value>application/x-javascript; charset=utf-8</param-value>
        </init-param>

        <init-param>
            <param-name>confmount</param-name>
            <param-value>js</param-value>
        </init-param>

        <init-param>
            <param-name>warmount</param-name>
            <param-value>/js</param-value>
        </init-param>
        <init-param>
            <param-name>fileext</param-name>
            <param-value>.*\.js</param-value>
        </init-param>
    </filter>


    <filter>
        <filter-name>stylesheets</filter-name>
        <filter-class>cz.incad.kramerius.client.resources.ResourcesLoaderFilter</filter-class>

        <init-param>
            <param-name>prefix</param-name>
            <param-value>/client/resources/css</param-value>
        </init-param>

        <init-param>
            <param-name>merge</param-name>
            <param-value>cz.incad.kramerius.client.resources.merge.CSSVelocityMerge</param-value>
        </init-param>

        <init-param>
            <param-name>mimetype</param-name>
            <param-value>text/css</param-value>
        </init-param>

        <init-param>
            <param-name>confmount</param-name>
            <param-value>css</param-value>
        </init-param>

        <init-param>
            <param-name>warmount</param-name>
            <param-value>/WEB-INF/css</param-value>
        </init-param>
        <init-param>
            <param-name>fileext</param-name>
            <param-value>.*\.css</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>defs</filter-name>
        <filter-class>cz.incad.kramerius.client.resources.ResourcesLoaderFilter</filter-class>

        <init-param>
            <param-name>prefix</param-name>
            <param-value>/client/resources</param-value>
        </init-param>

        <init-param>
            <param-name>merge</param-name>
            <param-value>cz.incad.kramerius.client.resources.merge.JSONArrayMerge</param-value>
        </init-param>

        <init-param>
            <param-name>mimetype</param-name>
            <param-value>application/json</param-value>
        </init-param>

        <init-param>
            <param-name>confmount</param-name>
            <param-value></param-value>
        </init-param>

        <init-param>
            <param-name>warmount</param-name>
            <param-value>/WEB-INF/classes/res</param-value>
        </init-param>
        
        <init-param>
            <param-name>fileext</param-name>
            <param-value>.*\.def</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>clawr</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>stylesheets</filter-name>
        <url-pattern>/resources/css/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>javascripts</filter-name>
        <url-pattern>/resources/js/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>defs</filter-name>
        <url-pattern>/resources/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>print</servlet-name>
        <servlet-class>cz.incad.kramerius.client.PrintFunctionalityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>print</servlet-name>
        <url-pattern>/print</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authentication</servlet-name>
        <servlet-class>cz.incad.kramerius.client.AuthenticationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authentication</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>audioconf</servlet-name>
        <servlet-class>cz.incad.kramerius.client.AudioConfigurationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>audioconf</servlet-name>
        <url-pattern>/audioconf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>alto</servlet-name>
        <servlet-class>cz.incad.kramerius.client.AltoSupportServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>alto</servlet-name>
        <url-pattern>/alto</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>dcache</servlet-name>
        <servlet-class>cz.incad.kramerius.client.CacheServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dcache</servlet-name>
        <url-pattern>/cache</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>part</servlet-name>
        <servlet-class>cz.incad.kramerius.client.PrintPartFunctionality</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>part</servlet-name>
        <url-pattern>/part</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>cz.incad.kramerius.client.CustomLog</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>handle</servlet-name>
        <servlet-class>cz.incad.kramerius.client.handle.HandleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>handle</servlet-name>
        <url-pattern>/handle/*</url-pattern>
    </servlet-mapping>

    <!--  api forwarding -->
    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>cz.incad.kramerius.client.ForwardServlet</servlet-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>api.point</param-value>
        </init-param>
        <init-param>
            <param-name>urlmodif</param-name>
            <param-value>cz.incad.kramerius.client.forward.APIUrlPathModify</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!--  pdf forwarding; special because of forwarding -->
    <servlet>
        <servlet-name>pdfforward</servlet-name>
        <servlet-class>cz.incad.kramerius.client.ForwardServlet</servlet-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>api.point</param-value>
        </init-param>
        <init-param>
            <param-name>urlmodif</param-name>
            <param-value>cz.incad.kramerius.client.forward.PDFForwardUrlPathModify</param-value>
        </init-param>

        <!--  timeout for this forwarding  -->
        <init-param>
            <param-name>readTimeout</param-name>
            <param-value>0</param-value>
        </init-param>

        <init-param>
            <param-name>conTimeout</param-name>
            <param-value>0</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>pdfforward</servlet-name>
        <url-pattern>/pdfforward/*</url-pattern>
    </servlet-mapping>

    <!--  feedback forwarding -->
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>cz.incad.kramerius.client.FeedbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback/*</url-pattern>
    </servlet-mapping>

    <!--  headers -->
    <servlet>
        <servlet-name>header</servlet-name>
        <servlet-class>cz.incad.kramerius.client.HeaderPropertiesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>header</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>


    <!--  zoomify forwarding -->
    <servlet>
        <servlet-name>zoomify</servlet-name>
        <servlet-class>cz.incad.kramerius.client.ForwardServlet</servlet-class>
        
        <init-param>
            <param-name>prefix</param-name>
            <param-value>k4.host</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>zoomify</servlet-name>
        <url-pattern>/zoomify/*</url-pattern>
    </servlet-mapping>

    <!--  images forwarding -->
    <servlet>
        <servlet-name>images</servlet-name>
        <servlet-class>cz.incad.kramerius.client.ForwardServlet</servlet-class>
        
        <init-param>
            <param-name>prefix</param-name>
            <param-value>k4.host</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>images</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>metadata</servlet-name>
        <servlet-class>cz.incad.kramerius.client.ForwardServlet</servlet-class>
        
        <init-param>
            <param-name>prefix</param-name>
            <param-value>k4.host</param-value>
        </init-param>

        <init-param>
            <param-name>urlmodif</param-name>
            <param-value>cz.incad.kramerius.client.forward.MetadataURLPathModify</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>metadata</servlet-name>
        <url-pattern>/metadata</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>sessionController</servlet-name>
        <servlet-class>cz.incad.kramerius.client.SessionControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sessionController</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>


    <!-- captcha servlet -->
    <servlet>
        <servlet-name>simplecaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <init-param>
            <param-name>captcha-width</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>captcha-height</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>simplecaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.png</url-pattern>
    </servlet-mapping>


    <!-- registration user servlet -->
    <servlet>
        <servlet-name>reguser</servlet-name>
        <servlet-class>cz.incad.kramerius.client.RegistrationUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>reguser</servlet-name>
        <url-pattern>/reguser</url-pattern>
    </servlet-mapping>


    
    <!-- Define Velocity template compiler -->
    <servlet>
        <servlet-name>velocity</servlet-name>
        <!--servlet-class>
            org.apache.velocity.tools.view.VelocityViewServlet
        </servlet-class-->

        <servlet-class>
            cz.incad.kramerius.client.VelocityViewServlet
        </servlet-class>
        <!-- 
          Unless you plan to put your toolbox.xml and velocity.properties
          under different folders or give them different names, then these
          two init-params are unnecessary as of VelocityTools 1.3.  The
          VelocityViewServlet will automatically look for these files in
          the following locations.
        -->
        <init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>/WEB-INF/tools.xml</param-value>
        </init-param>

        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>

    <!-- Map *.vm files to Velocity -->
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
    <!--  
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    -->
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.vm</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
