
body 
    {
        background-color:#FFFFFF; 
        margin: 0px;  /* the margin on the content before printing */
}

@media print
{
    .image {
        text-align:center;
    }

    .image img {
        margin:auto;
    }
}


