<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Guice -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>cz.incad.kramerius.ngwt.server.GWTConfigBean</listener-class>
	</listener>

  	<!-- Servlets -->
	<servlet>
		<servlet-name>pageService</servlet-name>
		<servlet-class>cz.incad.kramerius.ngwt.server.PageServiceImpl</servlet-class>
	</servlet>
  
  

  <servlet-mapping>
    <servlet-name>pageService</servlet-name>
    <url-pattern>/gwtn/page</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GwtN.html</welcome-file>
  </welcome-file-list>

</web-app>
