/*
#**
  - Stylesheet parameters and properties definition -
*#
#set( 
    $params = {
        "svg.stroke"            :  "rgba(174, 207, 229, 1)",
        "svg.strokeDark"        :  "rgba(0, 30, 60, 1)",
        "svg.stroke.hover"      :  "white",
        "svg.fill"              :  "none",
        "svg.fill.hover"        :  "rgba(0, 30, 60, 0.9)"
    })
*/

/* 
    Created on : Feb 5, 2014, 9:17:54 AM
    Author     : alberto
*/
.icon{
    height:24px; 
    width:24px; 
    display:inline-block; 
    position:relative;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
} 


.icon:before, .icon:after{
    background:#fff; 
}    
.icon:hover, .icon:hover:before, .icon:hover:after{
    border-color: #ffffff; 
}


.big{
    position:relative;
}

svg{
    position:relative;
    background: transparent;
    /*box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px 0px;*/
}

.footer svg {
    width: 18px;
    height: 18px;
    size: contain;
}

.small svg{
    width: 28px;
    height: 28px;
    size: contain;
}

.between svg{
    width: 32px;
    height: 32px;
    size: contain;
}


.medium svg{
    width: 48px;
    height: 48px;
    size: contain;
}

.bigger svg{
    width: 88px;
    height: 88px;
    size: contain;
}


.big svg{
    width: 128px;
    height: 128px;
    size: contain;
}

.separator svg {
    width: 15px;
    height: 118px;
    size: contain;
}

svg  .svg-icon{
    fill:$params.get("svg.fill"); 
    stroke:$params.get("svg.stroke"); 
    stroke-width: 4; 
    stroke-linecap:round;
    stroke-linejoin:round;
}

.dark svg  .svg-icon{
    stroke:$params.get("svg.strokeDark"); 
}

svg  circle.svg-icon{
    stroke-width: 4; 
}

svg:hover{
        /*
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    filter: url(../shadow.svg#dropShadow);
        */
}


svg:hover *{
    fill:$params.get("svg.fill.hover"); 
    stroke:$params.get("svg.stroke.hover"); 
}

svg path.star {
    stroke-width:4;
    stroke-linecap:square;
    stroke-linejoin:miter

}

/*
.nofill:hover {
    fill:none; 
}

.nostroke:hover {
    stroke:none; 
}*/
