<cdkprocess>
    <!--  UPDATE  -->
    <iteratorFactory class="cz.incad.kramerius.services.iterators.solr.SolrIteratorFactory"></iteratorFactory>
    <!--
    <iteratorFactory class="cz.incad.kramerius.services.iterators.logfile.LogFileIteratorFactory"></iteratorFactory>
    -->
    <iteration>
        <!--
        <url>file:///c:/Users/pavel.stastny/nprojs/_kramerius_akubra/kramerius/kibana.knav.log</url>
        -->
        <url>http://192.168.10.109:18984/solr-test/kramerius-cdk-test</url>
        <fquery>collection:"vc:d34ba74b-026a-4c60-aee7-9250a307952c" AND  collection:"vc:700a6cc7-1e5c-4487-b111-c425cbc51091"</fquery>
        <endpoint>select</endpoint>
        <id>PID</id>
        <rows>1000</rows>
        <type>CURSOR</type>
    </iteration>

    <threads>2</threads>

    <workerFactory class="cz.incad.kramerius.services.workers.update.UpdateWorkerFactory"></workerFactory>
    <worker>
        <request>
            <batchsize>100</batchsize>
        </request>
        <destination>
            <url>http://192.168.10.109:18984/solr-test/kramerius-cdk-test/update</url>
            <update.dest.field>
                <field name="collection" update="add-distinct">vc:700a6cc7-1e5c-4487-b111-c425cbc51091</field>
            </update.dest.field>
        </destination>
    </worker>
</cdkprocess>
