<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>


    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Resteasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>aplikatorInitializer</servlet-name>
        <servlet-class>cz.incad.kramerius.rights.server.RightsLoaderServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>org.aplikator.server.FileUploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>fileDownloadServlet</servlet-name>
        <servlet-class>org.aplikator.server.FileDownloadServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>ErraiServlet</servlet-name>
        <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>



    <servlet-mapping>
        <servlet-name>ErraiServlet</servlet-name>
        <url-pattern>*.erraiBus</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>aplikatorInitializer</servlet-name>
        <url-pattern>/rightseditor/ddl</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>/rightseditor/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>fileDownloadServlet</servlet-name>
        <url-pattern>/rightseditor/download</url-pattern>
    </servlet-mapping>
    <!-- Default page to serve -->

    <welcome-file-list>
        <welcome-file>Rightseditor.html</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>DataSource Reference For The Database</description>
        <res-ref-name>jdbc/aplikatorDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <description>no description</description>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>no description</description>
            <role-name>krameriusAdmin</role-name>
        </auth-constraint>
    </security-constraint>


    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>protected</realm-name>
    </login-config>


    <security-role>
        <role-name>krameriusAdmin</role-name>
    </security-role>



</web-app>
