<!-- Persistentni url  -->
<div class="persistents" style="position:absolute;display:none;">

    <div id="persistens_container" class="dialogs_content">  
        <div>
            <label data-key="common.url.handle">$i18n.common.url.handle</label> 
        </div> 
        <div>
            <input type="text" id="persisturl" name="persistenturl" />
        </div>
    </div>

    <div class="persisturl_footer dialogs_footer">
        <div class="right">
            <div class="buttons">
                <div class="button" onclick="cleanWindow();">#translatable('common.close')</div>
            </div>
        </div>
    </div>
</div>
