<cdkprocess>
    <!-- Iteration part -->
    <iteratorFactory class="cz.incad.kramerius.services.iterators.solr.SolrIteratorFactory"></iteratorFactory>
    <iteration>
        <url>http://192.168.10.109:18984/solr-test/kramerius-cdk-test</url>
        <!--
        <url>file:///c:/Users/pavel.stastny/nprojs/_kramerius_akubra/kramerius/kibana.log.fromknav</url>
        -->
        <fquery>collection:"vc:c4bb27af-3a51-4ac2-95c7-fd393b489e26"</fquery>

        <endpoint>select</endpoint>

        <id>PID</id>
        <!--
        <sort></sort>
        -->
        <rows>10000</rows>
        <type>CURSOR</type>
    </iteration>

    <threads>3</threads>


    <workerFactory class="cz.incad.kramerius.services.workers.checkexists.ExistsWorkerFactory"></workerFactory>
    <worker>
        <request>
            <url>http://192.168.10.109:18984/solr-test/kramerius-cdk-test</url>
            <endpoint>select</endpoint>
            <batchsize>20</batchsize>

            <!-- for get information about collections and urls -->
            <local.kramerius>http://192.168.10.109:8080/search/</local.kramerius>
            <local.collections>vc:c4bb27af-3a51-4ac2-95c7-fd393b489e26</local.collections>


            <!-- fetch document -->
            <remove.fetch.field>

            </remove.fetch.field>

            <add.fetch.field>

            </add.fetch.field>


            <!-- toto vyresit lip -->
            <collections.url>

                <elem>
                    <key>vc:700a6cc7-1e5c-4487-b111-c425cbc51091</key>
                    <value>https://kramerius.mzk.cz/search</value>
                </elem>
                <!--
                <elem>
                    <key>vc:c4bb27af-3a51-4ac2-95c7-fd393b489e26</key>
                    <value>https://kramerius.lib.cas.cz/search/</value>
                </elem>
                -->
                <elem>
                    <key>vc:c4bb27af-3a51-4ac2-95c7-fd393b489e26</key>
                    <value>https://kramerius.mzk.cz/search</value>
                </elem>

            </collections.url>
        </request>

        <destination>
            <update.dest.field>

            </update.dest.field>
            <kibana.log.logexisting>EXISTS</kibana.log.logexisting>
        </destination>
    </worker>
</cdkprocess>
