
<div id="tbl_menus" class="dialogs" style="display:none; ">

    <div class="triangle"></div>

        <div id="tbl_menus_container">
        
        <ul style="list-style-type: none;margin-left: 0px;padding-left: 0px;">
            <li style="inline-block;"><div class="button #if($params.page == 'browse')sel#end" onclick="link('?page=browse')">#translatable('common.browse')</div></li>
            <li style="inline-block;"><div class="button #if($params.page == 'da')sel#end" onclick="link('?page=da')">#translatable('common.timeline')</div></li>
#if($conf.getBoolean('k5client.showcollections'))
            <li style="inline-block;"><div class="button #if($params.page == 'collections')sel#end" onclick="link('?page=collections')">#translatable('common.collections')</div></li>
#end
        </ul>
        <ul style="list-style-type: none;margin-left: 0px;padding-left: 0px;">
    #if(!$logControl.logged)
        <li  style="inline-block;"><div class="button" onclick="link('?page=registration')">#translatable('application.registration')</div></li>
        <li  style="inline-block;"><div class="button" onclick='K5.authentication.options()'><span>  $logControl.loggedName </span></div></li>
    #end
        <li  style="inline-block;"><div class="button" onclick="link('$conf.getString('k5client.help')')" >#translatable('application.help')</div></li>
    </ul>

        </div>
        <div id="tbl_menus_container_footer" class="dialogs_footer">
    <div class="right">
        <div class="button" onclick="cleanWindow();">#translatable('common.close')</div>
    </div>

        </div>


</div>