# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Push and Pull requests and JUnit tests

on:
  push:
    branches: 
     - master
     - feature/*
  pull_request:
    branches: 
     - master
     - feature/*
    
permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    environment: BUILD

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Test tasks
      run: ./gradlew  printEnv :processes:platform:curator:license-add:tasks
      env:
        USERNAME: ${{ secrets.USER }}
        TOKEN: ${{ secrets.PAS }}
    
    - name: Build with Gradle
      run: ./gradlew build
      env:
        USERNAME: ${{ secrets.USER }}
        TOKEN: ${{ secrets.PAS }}

    